footer {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover{
    color: black;
}

.vertical-line{
    width: 2px;
    height: 6cm;
    border-left: 1px solid black;
}